<header id="header">
    <h1><a href="{{ site.baseurl }}index.html">Peter's Easy Science</a></h1>
    <nav class="links">
        <div class="dropdown">
            <button class="dropbtn"><a href="{{ site.baseurl }}background/background.html">Background</a></button>
            <div class="dropdown-content">
                <a href="{{ site.baseurl }}background/theatmosphere.html">The Atmosphere</a>
                <br />
                <a href="{{ site.baseurl }}background/airglow">Airglow</a>
                <br />
                <a href="{{ site.baseurl }}background/gravitywaves.html">Gravity Waves</a>
                <br />
                <a href="#">Clouds</a>
                <br />
            </div>		
        </div>
    
        <div class="dropdown">
            <button class="dropbtn">Methods</button>
            <div class="dropdown-content">
            <a href="{{ site.baseurl }}#">Fourier Transform</a>
            <br />
            <a href="{{ site.baseurl }}#">S-Transform</a>
            <br />
            <a href="{{ site.baseurl }}#">Binning</a>
            <br />
            <a href="{{ site.baseurl }}#">Image Analysis</a>
            <br />
            </div>
        </div>

        <div class="dropdown">
            <button class="dropbtn">Instruments</button>
            <div class="dropdown-content">
            <a href="{{ site.baseurl }}#">Aqua-AIRS</a>
            <br />
            <a href="{{ site.baseurl }}#">Airglow Imagers</a>
            <br />
            <a href="{{ site.baseurl }}#">Link 3</a>
            <br />
            </div>
        </div>
    
        <div class="dropdown">
            <button class="dropbtn">In Progress</button>
            <div class="dropdown-content">
            <a href="{{ site.baseurl }}#">AIRS Mask</a>
            <br />
            <a href="{{ site.baseurl }}#">Airglow Mask</a>
            <br />
            <a href="{{ site.baseurl }}#">Link 3</a>
            <br />
            </div>
        </div>
    
        <div class="dropdown">
            <button class="dropbtn">Completed</button>
            <div class="dropdown-content">
            <a href="{{ site.baseurl }}#">N/A</a>
            <br />
            <a href="{{ site.baseurl }}#">N/A</a>
            <br />
            <a href="{{ site.baseurl }}#">N/A</a>
            <br />
            </div>
        </div>
            
            <!-- <li><a href="#">Adipiscing</a></li> -->
        
    </nav>
    <nav class="main">
        <ul>
            <li class="search">
                <a class="fa-search" href="#search">Search</a>
                <form id="search" method="get" action="#">
                    <input type="text" name="query" placeholder="Search" />
                </form>
            </li>
            <li class="menu">
                <a class="fa-bars" href="#menu">Menu</a>
            </li>
        </ul>
    </nav>
</header>

<!-- Menu -->
<section id="menu">

    <!-- Search -->
        <section>
            <form class="search" method="get" action="#">
                <input type="text" name="query" placeholder="Search" />
            </form>
        </section>

    <!-- Links -->
        <section>
            <ul class="links">
                <li>
                    <a href="#">
                        <h3>Lorem ipsum</h3>
                        <p>Feugiat tempus veroeros dolor</p>
                    </a>
                </li>
                <li>
                    <a href="#">
                        <h3>Dolor sit amet</h3>
                        <p>Sed vitae justo condimentum</p>
                    </a>
                </li>
                <li>
                    <a href="#">
                        <h3>Feugiat veroeros</h3>
                        <p>Phasellus sed ultricies mi congue</p>
                    </a>
                </li>
                <li>
                    <a href="#">
                        <h3>Etiam sed consequat</h3>
                        <p>Porta lectus amet ultricies</p>
                    </a>
                </li>
            </ul>
        </section>

    <!-- Actions -->
        <section>
            <ul class="actions stacked">
                <li><a href="#" class="button large fit">Log In</a></li>
            </ul>
        </section>

</section>
<script src="{{ site.baseurl }}assets/js/jquery.min.js"></script>
<script src="{{ site.baseurl }}assets/js/browser.min.js"></script>
<script src="{{ site.baseurl }}assets/js/breakpoints.min.js"></script>
<script src="{{ site.baseurl }}assets/js/util.js"></script>
<script src="{{ site.baseurl }}assets/js/main.js"></script>